
.partners h4{
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    margin-bottom: 25px;
}

.partners{
    background: #FAFCFF;
    padding: 140px 0 90px 0;
}
.partner h4{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000000;
    /* padding: 25px; */
}
.partner div{
    padding: 25px;
}
.partner .e{
    border-bottom: 1px solid #EAEAF9;
}
.partner{
    background: #FFFFFF;
    box-shadow: 0px 15px 25px rgb(168 178 228 / 40%);
    border-radius: 10px;
}
.partner.a{
    border-bottom: 3px solid #E82127;
}
.partner.b{
    border-bottom: 3px solid #005288;
}
.partner.c{
    border-bottom: 3px solid #E82127;
}
.partner.d{
    border-bottom: 3px solid #005288;
}
.partners h3{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 18px;
}
.partners p{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 60px;
    color: #000000;
}
.connected-with {
    padding: 135px 0 100px 0;
}
.connected-with h5{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 100px;
}